<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499526472615-1dq72vgcdgia8bdq9dom4j1t0pk8c5pd.apps.googleusercontent.com</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499526472615-1dq72vgcdgia8bdq9dom4j1t0pk8c5pd</string>
	<key>API_KEY</key>
	<string>AIzaSyDBpgi5UmYHWvR3FcgSOXWtTPIWSp3o37c</string>
	<key>GCM_SENDER_ID</key>
	<string>499526472615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigjermaine.Blog1</string>
	<key>PROJECT_ID</key>
	<string>blog-13786</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-13786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:499526472615:ios:13a47704e479d3681e5c82</string>
</dict>
</plist>
